<mat-card class="selling-card">
        <mat-card-header>
            <div mat-card-avatar class="selling-card-header-image">
                <img src="../../assets/logo.png">
            </div>
            <mat-card-title> Lakers Jersey </mat-card-title>
            <mat-card-subtitle> $80.00 </mat-card-subtitle>
        </mat-card-header>
        <div class="selling-card-img-div">
            <img class="selling-card-item-img" src="../../assets/lakers-jersey.jpeg" alt="Photo of a Shiba Inu">
        </div>
        <mat-card-content>
            <p>
                Brand new Lakers jersey of Lebron James #23.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>BUY</button>
        </mat-card-actions>
</mat-card>