
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/lakers-jersey.jpeg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Lakers Jersey</h5>
        <p class="card-text">
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
        </p>

        <a href="#" routerLink="/productDetails" class="btn btn-primary center details">Product Details</a>
        <a (click)="addProductToCart()" class="btn btn-primary center"><img src="../../assets/cart.png"> <span id="productPrice"> $80.00</span> </a>
    </div>
</div>