
<div class="product-info">
    <br>
    <h2> Lakers Jersey </h2> 
    <img id="productImage" src="../../assets/lakers-jersey.jpeg"> 

    <br> <br>
    <a class="btn btn-primary center"><img src="../../assets/cart.png"> <span id="productPrice"> $80.00</span> </a>

    <div>
        <p>
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
        </p>
    </div>
</div>