
<button id="checkoutBtn" routerLink="/checkout"> Checkout </button>

<ul class="list-group bmd-list-group-sm">
    <a class="list-group-item">
        <div class="bmd-list-group-col">
            <app-cartitem></app-cartitem>
        </div>
    </a>
    <a class="list-group-item">
        <div class="bmd-list-group-col">
            <app-cartitem></app-cartitem>
        </div>
    </a>
    <a class="list-group-item">
            <div class="bmd-list-group-col">
                <app-cartitem></app-cartitem>
            </div>
        </a>
        <a class="list-group-item">
        <div class="bmd-list-group-col">
            <app-cartitem></app-cartitem>
        </div>
    </a>
</ul>