<div class="my-card">
    <div class="product-image-container">
        <img class="product-image" src="../../assets/lakers-jersey.jpeg">
    </div>
    <div class="product-info">
        <h2 class="product-title"> Lakers Jersey </h2>
        
        <button  (click)="removeProduct()" class="card-remove-product"> - </button>
            
        <h6 class="product-description"> 
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
            Brand new Lakers jersey of Lebron James #23.
        </h6>
    </div>
</div>