
<div class="mcontainer">
    <div class="logo-container">
        <img class="logo" src="../assets/logo.png">
    </div>
    <div class="navbar-container">
        <nav class="right-top-navbar">
            <ul>
                <li> <a class="nav-item" href="#" routerLink="/signin">Sign In</a> </li>
            </ul>
        </nav>
        <nav class="right-bottom-navbar">
            <ul>
                <li> <a class="nav-item" href="#" routerLink="/">Home</a> </li>
                <li> <a class="nav-item" href="#" routerLink="/products">Products</a> </li>
            </ul>
        </nav>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>