

$primaryColor: #013369;
// $secondaryColor: 
$white: rgb(247, 247, 247);

header {
    .container {
        background: $primaryColor;
        height: 25%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
    
        .logo {
            width: 10%;
            text-align: center;
            vertical-align: middle;
            position: relative;

            img {
                max-width: 100%;
                max-height: 90%;
                vertical-align: middle;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    
        .info {
            height: 100%;
            width: 90%;
    
            ul li {
                list-style: none;
                display: list-item;
                margin: 0 3px;
            }
    
            ul {
                list-style-type:none;
                display:flex;
                justify-content: center;          
            }

    
            .info-top {
                height: 50%;
    
                #top-nav {
                    float: right;
                    display: flex;
                    height: 100%;
                    padding-right: 1em;
                }
    
                // #bottom-nav {
                //     // align-self: center;
                // }
            }
    
            .info-bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 90%;
                height: 50%;
            }
    
            .nav-item {
                display: inline-block;
                align-self: flex-end;
    
                padding-right: 1em;
                padding-left: 1em;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                
                justify-content: center;
                vertical-align: middle;
                border-radius: 10px;
    
                text-decoration: none;
                color: $primaryColor;
    
                background: $white;
    
                &:hover {
                    background: darken($primaryColor, 5%);
                    color: $white;
                }
            }
        }
    }
}
