<div class="wrapper">
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
    <div>
        <app-card class="item"></app-card>
    </div>
 </div>